{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <input id="myInput" type="text" placeholder="Filtrer ..." width="50">
    <h1>{{ 'userlist'|trans }}</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> {{ 'id'|trans }} </th>
                <th> {{ 'nom'|trans }} </th>
                <th> {{ 'prenom'|trans }} </th>
                <th> {{ 'dateNaissance'|trans }} </th>
                <th> {{ 'email'|trans }} </th>
                <th> {{ 'role'|trans }} </th>
                <th> {{ 'competences'|trans }} </th>
                <th> {{ 'action'|trans }} </th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{% if user.dateNaissance %}{{ user.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                    {{ role }}
                    {% endfor %}
                </td>
                <td>{{ user.competences }}</td>
                <td>
                    <ul>
                        <li class="btn btn-dark">
                            <a href="{{ path('users_show', { 'id': user.id }) }}"> {{ 'show'|trans }} </a>
                        </li>
                        <li class="btn btn-light">
                            <a href="{{ path('users_edit', { 'id': user.id }) }}"> {{ 'useredit'|trans }} </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li class="btn btn-warning">
            <a href="{{ path('users_new') }}"> {{ 'newuser'|trans }} </a>
        </li>
    </ul>
    </div>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
